<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Terrorist Data, by Team One</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/dash.css">

</head>
<body>
  <div class="row justify-content-center">
    <div class="col-4">
      <div id="chart-01" class="chart">chart1<select id="selDataset" onchange="optionChanged(this.value)"></select></div>
      <div id="chart-02-panel">
          <select id="bubSelYears" onchange="bubbleOptionChange(this.value)"></select>
          <div id="chart-02" class="chart"></div>
      </div>
      <div id="chart-03" class="chart">chart3</div>
    </div>
    <div class="col-4">
      <div id="mapbox-panel">
        <select id="selYears" onchange="optionChanged(this.value)"></select>
        <select id="selCountry" onchange="countryOptionChange(this.value)"></select>
        <div id="map"></div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/appnick.js') }}"></script>

</body>
</html>
